---
title: I write about what I think about.
layout: layouts/base.njk 
description: This is a record of occurrences, experiences and observations.
date: Last Modified
pagination:
  data: collections.posts
  size: 20
  alias: postslist
---

<h1>Posts</h1>
{% include "postslist.njk" %}
<!---<nav aria-labelledby="my-pagination">
    {% if page.url != pagination.href.first %}<a href="{{ pagination.href.first }}">First</a>{% else %}<span>First</span>{% endif %}
    {% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Previous</a>{% else %}<span>Previous</span>{% endif %}
{%- for pageEntry in pagination.pages %}
    <a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>Page {{ loop.index }}</a></li>
{%- endfor %}
    {% if pagination.href.next %}<a href="{{ pagination.href.next }}">Next</a>{% else %}<span>Next</span>{% endif %}
    {% if page.url != pagination.href.last %}<a href="{{ pagination.href.last }}">Last</a>{% else %}<span>Last</span>{% endif %}
</nav>--->

