---
title: I write about what I think
layout: layouts/home.njk
description: This is a remo website based on eleventy-high-performance-blog.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<div id="posts">
  <h1>Posts</h1>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>
